*{
    border: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
#fondo{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}


.container{
    border-radius: 10px;
}
p{
    font-size: medium;
}
#loggin{
    background: #fff url(/Front/img/LogoZorrillo.jpeg) center center/cover no-repeat;
    border: 4px none rgba(28,110,164,0.41);
    border-radius: 17px;
    
    
}
    #btnInicioSesion {background-image: linear-gradient(to right, #1D976C 0%, #93F9B9  51%, #1D976C  100%)}
    #btnInicioSesion {
       margin: 10px;
       padding: 15px 45px;
       text-align: center;
       text-transform: uppercase;
       transition: 0.5s;
       background-size: 200% auto;
       color: rgb(255, 255, 255);            
       box-shadow: 0 0 20px #eee;
       border-radius: 10px;
       display: block;
     }

     #btnInicioSesion:hover {
       background-position: right center; /* change the direction of the change here */
       color: rgb(255, 255, 255);
       text-decoration: none;
     }
input{
    opacity: 0.30;
}